*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
  }
  
[class*="col-"] {
    float: left;
    padding: 15px;
  }
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.image_header{
    
    
    
}
.responsive {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    color: white;
    text-align: right;
    z-index: -1;
}

.admin-form {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    padding: 15px;
    text-align: right;
    z-index: 1;
}

.content > div {
    z-index: 0; /* Set z-index for the div containing text */
}

p.two {
    position: absolute;
    display: flex;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; 
    color: white;
    
    font-family:'Times New Roman', Times, serif;
    }
.administrator {
    
    color: white;
}
.learns{
    font-family:'Courier New', Courier, monospace;
    color: grey;

}

li {
    padding: 10px;
  width: 150px;
    display: block;
    border-bottom: 1px solid black;
text-align: right;
    margin-bottom: px;

 
}
.event{
    color: whitesmoke;
    background-color: blue;
    text-align: center;
    padding: 10px;
    
}
li:hover {
    background-color: #f0f0f0;
}

.list_home{
      display: block;
    list-style-type: none;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-right: 50px;
    max-width: 150px;
    background-color: #ccc;
    justify-content: end;
    

   
}

.image-container {
    flex: 1;
    max-width: 40%; /* Adjust the width as needed */
}

/* Style the image */
.image-container img {
    width: 100%;
    height: auto;

}
.left_container{
    
    /* position: absolute;
    display: flex; Change to relative */
    right: 20px;


}
.center_image{
   
}
.featuredImage2{
    width: 62%;
    height: 238px;
    padding: -2px;
    position: absolute;
    display: flex;
    margin: -282px;
    margin-top: -760px;
    margin-left: 151px;
}
.register_box{
    position: absolute;
    display: flex;
    height: 241px;
    width: 25%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: -759px;
    margin-left: 1000px;
}
.register{
    position: absolute;
    display: flex;
    height: 25px;
    width: 101%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 30px;
    background-color: gray;
   
   
}
.reg_img{
    position: absolute;
    display: flex;
    width: 92%;
    height: 177px;
    padding: -1px;
    margin-left: 4%;
    margin-top: 15%;
}
  

.pen{
    position: absolute;
    display: flex;
    width: 12%;
    height: 22px;
    padding: -1px;
    margin-left: 79%;
    margin-top: 5%;
}
   
.handshaking_box{
    position: absolute;
    display: flex;
    height: 242px;
    width: 29%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: -512px;
    margin-left: 157px;
}

.handshaking{
    position: absolute;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 27px;
    background-color: gray;
   
   
}
.handshaking_img{
    position: absolute;
    display: flex;
    width: 94%;
    height: 85px;
    padding: -1px;
    margin-left: 4%;
    margin-top: 18%;
}
  

.lens{
    position: absolute;
    display: flex;
    width: 12%;
    height: 22px;
    padding: -1px;
    margin-left: 79%;
    margin-top: 4%;
}
#more {display: none;}

.read_more_p{
    position: absolute;
    display: flex;
    /* text-align: end; */
    padding: -14%;
    margin: 0%;
    bottom: 1%;
    margin-bottom: 12px;
}
   
   
.calendar_box{
    position: absolute;
    display: flex;
    height: 242px;
    width: 29%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: -512px;
    margin-left: 575px;
}

.calendar{
    position: absolute;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 27px;
    background-color: gray;
   
   
}
.calendar_img{
    position: absolute;
    display: flex;
    width: 94%;
    height: 85px;
    padding: -1px;
    margin-left: 4%;
    margin-top: 18%;
}
  

.alarm{
    position: absolute;
    display: flex;
    width: 12%;
    height: 22px;
    padding: -1px;
    margin-left: 79%;
    margin-top: 4%;
}
#more {display: none;}

.read_more_p{
    position: absolute;
    display: flex;
    /* text-align: end; */
    padding: -14%;
    margin: 0%;
    bottom: 1%;
    margin-bottom: 12px;
}
   
  
.coin_box{
    position: absolute;
    display: flex;
    height: 242px;
    width: 29%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: -512px;
    margin-left: 992px;
}

.coin{
    position: absolute;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 27px;
    background-color: gray;
   
   
}
.coin_img{
    position: absolute;
    display: flex;
    width: 94%;
    height: 85px;
    padding: -1px;
    margin-left: 4%;
    margin-top: 18%;
}
  

.talkIcon{
    position: absolute;
    display: flex;
    width: 12%;
    height: 22px;
    padding: -1px;
    margin-left: 79%;
    margin-top: 4%;
}
#more {display: none;}

.read_more_p{
    position: absolute;
    display: flex;
    /* text-align: end; */
    padding: -14%;
    margin: 0%;
    bottom: 1%;
    margin-bottom: 12px;
}


.question_box{
    position: absolute;
    display: flex;
    height: 336px;
    width: 29%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: -254px;
    margin-left: 157px;
}

.question{
    position: absolute;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 30px;
    background-color: gray;
    font-size:larger ;
   
}

  

.email{
    position: absolute;
    display: flex;
    width: 12%;
    height: 22px;
    padding: -1px;
    margin-left: 79%;
    margin-top: 4%;
}
   
.form{
    position: absolute;
    display: flex;
    margin-left: 6%;
    margin-top: 16%;
}

.news_box{
    position: absolute;
    display: flex;
    height: 660px;
    width: 56%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: -254px;
    margin-left: 575px;
}

.news{
    position: absolute;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 30px;
    background-color: gray;
    font-size:larger ;
   
}

  

.pen{
    position: absolute;
    display: flex;
    width: 3%;
    height: 32px;
    padding: -1px;
    margin-left: 93%;
    margin-top: 1%;
}

.jwlogo{
    position: absolute;
    display: flex;
    margin-left: 100%;
    margin-top: 12%;
    float: right;
}

h1{
   

}
.text
{
    position: absolute;
    display: flex;
    margin-top: 8%;
    margin-left: 0%; 
    width: 69%;
    text-align: left;
  
  
}
.text2{
    margin-top: 8%;
    margin-left: 0%; 

}


.classes_box{
    position: absolute;
    display: flex;
    height: 242px;
    width: 29%;
    padding: -2px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 30px;
    margin: -281px;
    margin-top: 109px;
    margin-left: 156px;
}


.classes{
    position: absolute;
    display: flex;
    height: 25px;
    width: 100%;
    padding: 21px;
    border-bottom: 1px solid grey;
    text-align: left;
    margin-bottom: 10px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-left-radius: 28px;
    /* border-radius: 30px 28px 3px 32px; */
    border-top-right-radius: 27px;
    background-color: gray;
   
   
}
.seminar_img{
    position: absolute;
    display: flex;
    width: 94%;
    height: 163px;
    padding: -1px;
    margin-left: 3%;
    margin-top: 13%;
}

  

.microphone{
    position: absolute;
    display: flex;
    width: 12%;
    height: 22px;
    padding: -1px;
    margin-left: 79%;
    margin-top: 4%;
}


